/* CSS is how you can add style to your website, such as colors, fonts, and positioning of your
   HTML content. To learn how to do something, just try searching Google for questions like
   "how to change link color." */

/* 
FONTS:
M PLUS Rounded 1c (Tentative)
Varela Round 
*/
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@700&display=swap');

html {
    overflow-x: hidden;
    overflow-y: scroll;
}


body {
    position: relative;
    overflow-x: hidden;
    /* overflow-y: scroll; */
    margin: 0;
}

@media screen and (max-width: 640px) {
    .body-wrapper {
        background: url(./img/bkgrndphone.webp);
        background-size: 100vw 586vw;

        height: 586vw;
    }
}

@media screen and (min-width: 641px) {
    .body-wrapper {
        background: url(./img/bkgrnd.webp);
        background-size: 100vw 442.8vw;

        height: 442.8vw;

    }
}

.body-wrapper {
    position: relative;
    overflow-y: overlay;
    overflow-x: hidden;
    float: left;
    background-repeat: no-repeat;
    width: 100vw;
    padding: 0px;
    margin: 0px;
    /* height: auto; */
    color: white;
}


.neocities-header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    margin-top: 1.5vh;
    margin-left: 4.5vw;
}

.header-item {
    margin-left: 1vw;

}

.header-item h1 {
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;

    color: rgba(255, 255, 255, 0.75);
    text-shadow: 0px 0px 10px white;


}

@media screen and (max-width: 640px) {
    .header-item h1 {
        font-size: 5vw;
        margin: 5px;
    }
}

@media screen and (min-width: 641px) {
    .header-item h1 {
        font-size: 28px;
    }
}


.header-item h1:hover {
    animation: hover-flicker 1s infinite;
}

.header-item a {
    text-decoration: none;
    margin: none;
    position: relative;
}

@keyframes hover-flicker {
    0% {
        text-shadow: 0px 0px 10px white;
    }

    2.5% {
        text-shadow: 0px 0px 5px #d3fd4800;
    }

    5% {
        text-shadow: 0px 0px 10px white;
    }

    45% {
        text-shadow: 0px 0px 10px white;
    }

    47.5% {
        text-shadow: 0px 0px 5px #d3fd4800;
    }

    75% {
        text-shadow: 0px 0px 10px white;
    }

    80% {
        text-shadow: 0px 0px 5px #d3fd4800;
    }

    85% {
        text-shadow: 0px 0px 10px white;
    }

    100% {
        text-shadow: 0px 0px 5px #d3fd4800;
    }
}

.neocities-body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}



.neocities-title {
    width: 65vw;
    margin: 6vw;
    font-size: 5vw !important;
    font-family: 'Quicksand', sans-serif;
    color: #e4ff8d;
    text-shadow: 0px 0px 20px #dcff6a;
    text-align: center;
}

.neocities-projects {
    width: 65vw;
    margin-top: 6vw;
    margin-bottom: 4vw;
    font-size: 6vw !important;
    font-family: 'Quicksand', sans-serif;
    color: #e4ff8d;
    text-shadow: 0px 0px 20px #dcff6a;
    text-align: center;
}

.neocities-body h1 {
    font-size: 50px;
}

@media screen and (max-width: 640px) {
    .project-gallery {
        width: 100%;
    }
}

@media screen and (min-width: 641px) {
    .project-gallery {
        width: 90%;
    }
}

.project-gallery {
    height: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 640px) {
    .project-gallery .project-card {
        width: 30vw;
        height: 30vw;
    }
}

@media screen and (min-width: 641px) {
    .project-gallery .project-card {
        width: 24vw;
        height: 24vw;
    }
}

.project-gallery .project-card {
    margin: 1vw;

    position: relative;

    transition: transform 0.8s;
    perspective: 1000px;
    transform-style: preserve-3d;
}

@media screen and (hover: none) {
    .floating-card {
        animation-name: floating-anim;
        animation-duration: 3s;
        animation-timing-function: ease;
        animation-iteration-count: infinite;
        animation-delay: 1s;

        transform: translateY(0px);
    }

    /* .floating-card:hover {
        animation: none;
        transform: translateY(0px) rotateY(180deg);

    } */
    .front {
        transform: rotateY(0deg);
    }

    .back {
        transform: rotateY(180deg);

    }
}

@media screen and (hover: hover) {
    .project-card:hover {
        transform: rotateY(180deg);
    }
}

@keyframes floating-anim {
    0% {
        transform: tranlateY(0px);
    }

    50% {
        transform: translateY(-20px);
    }

    100% {
        transform: translateY(0px);
    }
}

/* 
.project-gallery .project-card:hover {
    animation: card-hover 1s ease-out infinite; */
/* cubic-bezier(0, 1, 1, 1) */
/* } */

@keyframes card-hover-short {
    0% {
        transform: tranlateY(0px);
        box-shadow: 0px 0px 0px #00d3e600;

    }

    50% {
        transform: translateY(-20px);
        box-shadow: 0px 15px 30px #f5d5ffca;
        /* 000530 */

    }

    100% {
        transform: translateY(0px);
        box-shadow: 0px 0px 0px #00d3e600;
    }

}


.project-gallery .project-card-front {
    position: absolute;
    width: 100%;
    height: 100%;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.project-gallery .project-card-front img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

@media screen and (max-width: 640px) {
    .project-gallery .project-card-back {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }
}

@media screen and (min-width: 641px) {
    .project-gallery .project-card-back {
        display: block;
    }
}

.project-gallery .project-card-back {
    position: absolute;
    width: 100%;
    height: 100%;

    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    /* display: none; */
    transform: rotateY(180deg);

    background-color: #01d6cf;
    color: white;

    box-shadow: 0px 5px 30px #01d6cf;
}

.project-gallery .project-card-back a {
    text-decoration: underline;
    color: white
}

@media screen and (max-width: 390px) {
    .project-gallery .project-card-back h1 {
        font-size: 10px;

        padding-top: 0vw;
        padding-bottom: 0vw;
        padding-left: 2vw;
        padding-right: 2vw;
    }

    .project-gallery .project-card-back p {
        font-size: 5px;

    }
}

@media screen and (min-width: 391px) and (max-width: 640px) {
    .project-gallery .project-card-back h1 {
        font-size: 12px;

        padding-top: 0vw;
        padding-bottom: 0vw;
        padding-left: 2vw;
        padding-right: 2vw;
    }

    .project-gallery .project-card-back p {
        font-size: 7px;

    }
}

@media screen and (min-width: 641px) {
    .project-gallery .project-card-back h1 {
        font-size: 1.9vw;
        padding: 2vw;

    }

    .project-gallery .project-card-back p {
        font-size: 1.3vw;
    }
}

.project-gallery .project-card-back h1 {
    font-family: 'Quicksand', sans-serif;
}

.project-gallery .project-card-back p {

    padding-top: 0px;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-bottom: 2vw;
    font-family: 'Varela Round', sans-serif;
}

.projects-info-tabs {

    height: 250vw;
    width: 100vw;
}

@media screen and (hover: none) {
    .project-forward-icon {
        height: auto;
        width: 10vw;
        stroke: #ffffffa3;
        stroke-width: 3;
        position: absolute;
    }

    .project-back-icon {
        height: auto;
        width: 10vw;
        stroke: #ffffffa3;
        stroke-width: 3;
        position: absolute;
    }

    .rh-press-forward-icon {
        left: 110vw;
        top: 45vw;
    }

    .rh-press-back-icon {
        left: 6vw;
        top: 45vw;
    }

    .vg-forward-icon {
        top: 45vw;
        left: 110vw;
    }

    .vg-back-icon {
        top: 24vw;
        left: 8vw;
    }

    .p-forward-icon {
        top: 50vw;
        left: 109vw;
    }

    .p-back-icon {
        top: 32vw;
        left: 4vw;
    }

    .p-forward-demo-icon {
        left: 91.5vw;
        top: 32vw;
    }

    .p-back-demo-icon {
        left: 108vw;
        top: 32vw;
    }

    .sp-forward-icon {
        top: 45vw;
        left: 100vw;
    }

    .sp-back-icon {
        top: 32vw;
        left: 5vw;
    }
}

@media screen and (hover: hover) {
    .project-forward-icon {
        display: none;
    }

    .project-back-icon {
        display: none;
    }
}


.project-info-img:nth-child(even) {
    position: static;
    width: 45vw;
    min-width: 45vw;
}

.project-info-text:nth-child(even) {
    height: 100%;
    margin-left: 0vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@media screen and (max-width: 640px) {
    .rh-press-text {
        width: 54vw;
        min-width: 54vw;
    }
}

@media screen and (min-width: 641px) {
    .rh-press-text {
        width: 38vw;
        min-width: 38vw;
    }
}

@media screen and (max-width: 640px) {
    .p-text {
        width: 54vw;
        min-width: 54vw;
    }
}

@media screen and (min-width: 641px) {
    .p-text {
        width: 38vw;
        min-width: 38vw;
    }
}


.project-info-img:nth-child(odd) {
    position: static;
    width: 38vw;


}

.project-info-text:nth-child(odd) {
    width: 36vw;
    height: 100%;
    margin-left: 4.5vw;
    margin-top: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@media screen and (max-width: 470px) {
    .project-info-text h1 {
        font-size: 15px;
    }
}

@media screen and (min-width: 471px)and (max-width: 640px) {
    .project-info-text h1 {
        font-size: 18px;
    }
}

@media screen and (min-width: 641px) {
    .project-info-text h1 {
        font-size: 3.2vw;
    }
}

.project-info-text h1 {
    font-family: 'Quicksand', sans-serif;
    margin-top: 0.7vw;
    margin-bottom: 0.7vw;
}

.project-info-text p {
    font-family: 'Varela Round', sans-serif;
    margin: 0px;
    line-height: 1.3;
}

@media screen and (max-width: 360px) {
    .project-info-text p {
        font-size: 9px;
    }
}

@media screen and (min-width: 361px) and (max-width: 470px) {
    .project-info-text p {
        font-size: 12px;
    }
}

@media screen and (min-width: 471px) and (max-width: 640px) {
    .project-info-text p {
        font-size: 15px;
    }
}

@media screen and (min-width: 641px) {
    .project-info-text p {
        font-size: 1.85vw;

    }
}

@media screen and (max-width: 640px) {
    .rh-press-info {
        height: 84vw;
        top: 152vw;
    }
}

@media screen and (min-width: 641px) {
    .rh-press-info {
        height: 49vw;
        top: 145vw;
    }
}

.rh-press-info {

    background-color: #00D1E6;
    box-shadow: 0px 30px 50px #04028680;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    position: absolute;
    z-index: 10;

    width: 150vw;

    left: -20vw;
    transform: rotate(-12deg) translateX(-150vw);

}

@media screen and (max-width: 640px) {
    .project-info-inner {
        height: 100vw;
        top: -8vw;
    }
}

@media screen and (min-width: 641px) {
    .project-info-inner {
        height: 65vw;
        top: -8vw;

    }
}

.project-info-inner {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    overflow-y: hidden;
    overflow-x: scroll;

    -ms-overflow-style: none;
    scrollbar-width: none;

    width: 130vw;

    /* width: 120vw; */
    position: absolute;
}

.project-info-inner::-webkit-scrollbar {
    display: none;
}

@keyframes pulse {
    0% {
        box-shadow: 0px 0px 0px #99aed300;
    }

    80% {
        box-shadow: 0px 0px 10px 15px #99aed3b7;

    }

    100% {
        box-shadow: 0px 0px 0px #99aed300;
    }
}

@keyframes fly-in-from-left {
    0% {
        transform: rotate(-12deg) translateX(-150vw);
    }

    100% {
        transform: rotate(-12deg) translateX(0vw);
    }
}

@keyframes fly-in-from-right {
    0% {
        transform: rotate(12deg) translateX(150vw);
    }

    100% {
        transform: rotate(12deg) translateX(0vw);
    }
}

@keyframes fly-out-from-left {
    0% {
        transform: rotate(-12deg) translateX(0vw);
    }

    100% {
        transform: rotate(-12deg) translateX(-150vw);
    }
}

@keyframes fly-out-from-right {
    0% {
        transform: rotate(12deg) translateX(0vw);
    }

    100% {
        transform: rotate(12deg) translateX(150vw);
    }
}

.rh-press-img img {
    position: absolute;
    z-index: 11;
}

@media screen and (max-width: 640px) {
    .rh-press-img-1 {
        top: 3vw;
        height: 30vw;
        left: 15vw;
    }
}

@media screen and (min-width: 641px) {
    .rh-press-img-1 {
        top: 0vw;
        height: 25vw;
        left: 32vw;
    }
}

@media screen and (max-width: 640px) {
    .rh-press-img-2 {
        left: -30vw;
        top: 39vw;
        height: 45vw;
    }
}

@media screen and (min-width: 641px) {
    .rh-press-img-2 {
        left: 16.5vw;
        top: 29vw;
        height: 23vw;
    }
}

@media screen and (max-width: 640px) {
    .rh-press-img-3 {
        height: 40vw;
        left: 14vw;
        top: 47vw;
    }
}

@media screen and (min-width: 641px) {
    .rh-press-img-3 {
        height: 31vw;
        left: 35vw;
        top: 29.5vw;
    }
}


@media screen and (max-width: 640px) {
    .rh-press-img {
        height: 65vw;
        width: 58vw !important;
        min-width: 58vw;
    }
}

@media screen and (min-width: 641px) {
    .rh-press-img {
        height: 65vw;
        width: 70vw !important;
        min-width: 70vw;
    }
}

.rh-press-landing-page-demo,
.vg-video-demos,
.sp-video-demos {
    height: 65vw;
    margin-left: 15vw;
    width: 120vw;
    min-width: 120vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

.p-video-demos {
    height: 65vw;
    margin-left: 15vw;
    width: 220vw;
    min-width: 220vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}

.rh-press-landing-page-img {
    position: relative;
    width: 65vw;
    min-width: 65vw;
}

.rh-press-landing-page-img img,
.rh-press-landing-page-img video {
    position: absolute;
}

@media screen and (max-width: 640px) {
    .rh-press-landing-page-demo-video {
        object-fit: contain;
        top: -16vw;
        left: 10vw;
        height: auto;
        width: 67vw;
    }
}

@media screen and (min-width: 641px) {
    .rh-press-landing-page-demo-video {
        object-fit: contain;
        left: 10vw;
        height: 33vw;
        width: 55vw;

    }
}

@media screen and (max-width: 640px) {
    .rh-press-about-page-demo-video {
        object-fit: contain;
        height: auto;
        width: 56vw;
        left: 61vw;
        top: 32vw;
    }
}

@media screen and (min-width: 641px) {
    .rh-press-about-page-demo-video {
        object-fit: contain;
        height: auto;
        width: 48.5vw;
        left: 61vw;
        top: 34.5vw
    }
}

@media screen and (max-width: 640px) {
    .rh-press-about-page-note {
        width: 25vw;
        height: auto;
        left: 78vw;
        top: 12vw;
        z-index: 12;
    }
}

@media screen and (min-width: 641px) {
    .rh-press-about-page-note {
        width: 25vw;
        height: auto;
        left: 80vw;
        top: 20vw;
        z-index: 12;
    }
}

@media screen and (max-width: 640px) {
    .rh-press-about-page-plant {
        width: 36vw;
        height: auto;
        top: -6vw;
        left: 60vw;
        z-index: 10;
    }
}

@media screen and (min-width: 641px) {
    .rh-press-about-page-plant {
        width: 32vw;
        height: auto;
        top: 0.7vw;
        left: 62vw;
        z-index: 10;
    }
}

@media screen and (max-width: 640px) {
    .rh-press-landing-page-text {
        width: 40vw;
        min-width: 40vw;
        position: absolute;
        top: 30vw;
        left: 18vw;
    }
}

@media screen and (min-width: 641px) {
    .rh-press-landing-page-text {
        /* height: 49vw; */
        width: 37vw;
        min-width: 37vw;
        /* margin-top: 15vw; */
        /* margin-left: 5vw; */
        position: absolute;
        top: 38vw;
        left: 17vw;
        /* align-self: center; */
    }
}

.rh-press-landing-page-demo p {
    font-family: 'Varela Round', sans-serif;
    margin: 0px;
    line-height: 1.3;
}

@media screen and (max-width: 360px) {
    .rh-press-landing-page-demo p {
        font-size: 9px;
    }
}

@media screen and (min-width: 361px) and (max-width: 470px) {
    .rh-press-landing-page-demo p {
        font-size: 12px;
    }
}

@media screen and (min-width: 471px) and (max-width: 640px) {
    .rh-press-landing-page-demo p {
        font-size: 15px;
    }
}

@media screen and (min-width: 641px) {
    .rh-press-landing-page-demo p {
        font-size: 1.85vw;
    }
}

@media screen and (max-width: 640px) {
    .vg-info {
        height: 88vw;
        top: 252vw;
    }
}

@media screen and (min-width: 641px) {
    .vg-info {
        height: 49vw;
        top: 206vw;
    }
}

.vg-info {

    background-color: #25DDA6;
    box-shadow: 0px 30px 50px #04028680;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: rotate(12deg) translateX(150vw);
    position: absolute;
    z-index: 8;
    width: 150vw;
    left: -20vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

@media screen and (max-width: 640px) {
    .vg-text {
        margin-left: 63vw !important;
        width: 51vw !important;
        min-width: 51vw;
    }
}

@media screen and (min-width: 641px) {
    .vg-text {
        margin-left: 33vw !important;
        width: 35vw !important;
        min-width: 35vw;
    }
}

.vg-img img {
    position: absolute;
    z-index: 9;
}

@media screen and (max-width: 640px) {
    .vg-img-1 {
        top: 5vw;
        height: 35vw;
        left: 1vw;
    }
}

@media screen and (min-width: 641px) {
    .vg-img-1 {
        top: 12vw;
        height: 25vw;
        left: 77vw;
    }
}


@media screen and (max-width: 640px) {
    .vg-img-2 {
        height: 48vw;
        top: 52vw;
        left: 6vw;
    }
}

@media screen and (min-width: 641px) {
    .vg-img-2 {
        height: 21vw;
        top: 39vw;
        left: 96vw;
    }
}

@media screen and (max-width: 640px) {
    .vg-img-3 {
        top: 44vw;
        left: 30vw;
        height: 22vw;
    }
}

@media screen and (min-width: 641px) {
    .vg-img-3 {
        top: 34.5vw;
        left: 70vw;
        height: 15.5vw;
    }
}

@media screen and (max-width: 640px) {
    .vg-video-demos-text-p-1 {
        position: absolute;
        top: 0vw;
        left: 20vw;
        width: 36vw;
        min-width: 36vw;
    }
}

@media screen and (min-width: 641px) {
    .vg-video-demos-text-p-1 {
        position: absolute;
        top: 17vw;
        left: 17vw;
        width: 39vw;
        min-width: 39vw;
    }
}

@media screen and (max-width: 640px) {
    .vg-video-demos-text-p-2 {
        position: absolute;
        top: 28vw;
        left: 58vw;
        width: 50vw;
        min-width: 39vw;
    }
}

@media screen and (min-width: 641px) {
    .vg-video-demos-text-p-2 {
        position: absolute;
        top: 36vw;
        left: 58vw;
        width: 48vw;
        min-width: 39vw;
    }
}

@media screen and (max-width: 360px) {
    .vg-video-demos p {
        font-size: 9px;
    }
}

@media screen and (min-width: 361px) and (max-width: 470px) {
    .vg-video-demos p {
        font-size: 12px;
    }
}

@media screen and (min-width: 471px) and (max-width: 640px) {
    .vg-video-demos p {
        font-size: 15px;
    }
}

@media screen and (min-width: 641px) {
    .vg-video-demos p {
        font-size: 1.85vw;
    }
}

.vg-video-demos p {
    font-family: 'Varela Round', sans-serif;
    margin: 0px;
    line-height: 1.3;
}

.vg-video-demos-img {
    position: relative;
    width: 65vw;
    min-width: 65vw;
}

@media screen and (max-width: 640px) {
    .vg-demo-1 {
        object-fit: contain;
        position: absolute;
        width: 18vw;
        left: 38vw;
        top: 32vw;
    }
}

@media screen and (min-width: 641px) {
    .vg-demo-1 {
        object-fit: contain;
        position: absolute;
        width: 15vw;
        left: 40vw;
        top: 28vw;
    }
}

@media screen and (max-width: 640px) {
    .vg-demo-2 {
        object-fit: contain;
        position: absolute;
        width: 15vw;
        left: 58vw;
        top: -4vw;
    }
}

@media screen and (min-width: 641px) {
    .vg-demo-2 {
        object-fit: contain;
        position: absolute;
        width: 15vw;
        left: 58vw;
        top: 7vw;
    }
}

@media screen and (max-width: 640px) {
    .vg-video-dialogue-video {
        object-fit: contain;
        position: absolute;
        left: 64vw;
        top: -14vw;
        width: 47vw;

    }
}

@media screen and (min-width: 641px) {
    .vg-video-dialogue-video {
        object-fit: contain;
        position: absolute;
        left: 66vw;
        top: 2vw;
        width: 40vw;

    }
}

@media screen and (max-width: 640px) {
    .vg-video-inventory-video {
        object-fit: contain;
        width: 40vw;
        position: absolute;
        left: 10vw;
        top: 38vw;
    }

}

@media screen and (min-width: 641px) {
    .vg-video-inventory-video {
        object-fit: contain;
        width: 35vw;
        position: absolute;
        left: 16vw;
        top: 32vw;
    }

}

@media screen and (max-width: 640px) {
    .p-info {
        height: 84vw;
        top: 344vw;
    }
}

@media screen and (min-width: 641px) {
    .p-info {
        height: 49vw;
        top: 261vw;
    }
}

.p-info {

    background-color: #34E13F;
    box-shadow: 0px 30px 50px #004bcdb7;

    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    position: absolute;
    z-index: 7;

    width: 150vw;

    left: -20vw;
    transform: rotate(-12deg) translateX(-150vw);



    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}


@media screen and (max-width: 640px) {
    .p-text {
        margin-left: 28vw !important;
        width: 55vw !important;
        min-width: 55vw;
        margin-top: 0vw !important;
    }
}

@media screen and (min-width: 641px) {
    .p-text {
        margin-left: 27vw !important;
        width: 35vw !important;
        min-width: 35vw;
        margin-top: 1vw !important;
    }
}

.p-img img {
    position: absolute;
    z-index: 7;
}


@media screen and (max-width: 640px) {
    .p-img-1 {
        top: 3vw;
        left: 84vw;
        height: 44vw;
    }
}

@media screen and (min-width: 641px) {
    .p-img-1 {
        top: 5vw;
        left: 68vw;
        height: 24vw;
    }

}

@media screen and (max-width: 640px) {
    .p-img-2 {
        top: 64vw;
        left: 85vw;
        height: 35vw;
    }
}

@media screen and (min-width: 641px) {
    .p-img-2 {
        top: 25vw;
        left: 87vw;
        height: 28.5vw;
    }
}

@media screen and (max-width: 640px) {
    .p-img-3 {

        left: 79vw;
        top: 39vw;
        height: 30vw;

    }
}

@media screen and (min-width: 641px) {
    .p-img-3 {
        left: 64vw;
        top: 34.5vw;
        height: 28vw;
    }
}

@media screen and (max-width: 360px) {
    .p-video-demos p {
        font-size: 9px;
    }
}

@media screen and (min-width: 361px) and (max-width: 470px) {
    .p-video-demos p {
        font-size: 12px;
    }
}

@media screen and (min-width: 471px) and (max-width: 640px) {
    .p-video-demos p {
        font-size: 15px;
    }
}

@media screen and (min-width: 641px) {
    .p-video-demos p {
        font-size: 1.8vw;
    }
}

.p-video-demos p {
    font-family: 'Varela Round', sans-serif;
    margin: 0px;
    line-height: 1.3;
    text-align: left;
}

@media screen and (max-width: 360px) {
    .p-video-demos h1 {
        font-size: 12px;
    }
}

@media screen and (min-width: 361px) and (max-width: 640px) {
    .p-video-demos h1 {
        font-size: 15px;
    }
}

@media screen and (min-width: 641px) {
    .p-video-demos h1 {
        font-size: 3.2vw;
    }
}

.p-video-demos h1 {
    font-family: 'Quicksand', sans-serif;
    margin-top: 0.7vw;
    margin-bottom: 0.7vw;
}

@media screen and (max-width: 640px) {
    .p-video-demos-text-p-0 {
        position: absolute;
        top: -4vw;
        left: 10vw;
        width: 30vw;
        min-width: 30vw;
    }
}

@media screen and (min-width: 641px) {
    .p-video-demos-text-p-0 {
        position: absolute;
        top: 20vw;
        left: 71vw;
        width: 30vw;
        min-width: 30vw;
    }
}

@media screen and (max-width: 640px) {
    .p-video-demos-text-p-1 {
        position: absolute;
        top: 3vw;
        left: 10vw;
        width: 32vw;
        min-width: 30vw;
    }
}

@media screen and (min-width: 641px) {
    .p-video-demos-text-p-1 {
        position: absolute;
        top: 25vw;
        left: 71vw;
        width: 27vw;
        min-width: 27vw;
    }
}

@media screen and (max-width: 640px) {
    .p-video-demos-text-p-2 {
        position: absolute;
        top: 34vw;
        left: 43vw;
        width: 54vw;
        min-width: 50vw;
    }
}

@media screen and (min-width: 641px) {
    .p-video-demos-text-p-2 {
        position: absolute;
        top: 36vw;
        left: 50vw;
        width: 50vw;
        min-width: 50vw;
    }
}

@media screen and (max-width: 640px) {
    .p-video-demos-text-p-3 {
        position: absolute;
        top: -4vw;
        left: 120vw;
        width: 48vw;
        min-width: 37vw;
    }
}

@media screen and (min-width: 641px) {
    .p-video-demos-text-p-3 {
        position: absolute;
        top: 14vw;
        left: 117vw;
        width: 37vw;
        min-width: 37vw;
    }
}

@media screen and (max-width: 640px) {
    .p-video-demos-text-p-4 {
        position: absolute;
        top: 36vw;
        left: 120vw;
        width: 85vw;
        min-width: 56vw;
    }
}

@media screen and (min-width: 641px) {
    .p-video-demos-text-p-4 {
        position: absolute;
        top: 34.5vw;
        left: 117vw;
        width: 56vw;
        min-width: 56vw;
    }
}

.p-video-demos-img {
    position: relative;
    width: 65vw;
    min-width: 65vw;
}

@media screen and (max-width: 640px) {
    .p-demo-1 {
        object-fit: contain;
        position: absolute;
        width: 50vw;
        left: -6vw;
        top: 24.5vw;
    }
}

@media screen and (min-width: 641px) {
    .p-demo-1 {
        object-fit: contain;
        position: absolute;
        width: 43vw;
        left: 6vw;
        top: 14vw;
    }
}

@media screen and (max-width: 640px) {
    .p-demo-2 {
        object-fit: contain;
        position: absolute;
        width: 25vw;
        left: 190vw;
        top: 24vw;
        display: none;
    }
}

@media screen and (min-width: 641px) {
    .p-demo-2 {
        object-fit: contain;
        position: absolute;
        width: 32vw;
        left: 176vw;
        top: 16vw;
    }
}

@media screen and (max-width: 640px) {
    .p-video-landing-video {
        object-fit: contain;
        position: absolute;
        left: 44vw;
        top: -7vw;
        width: 62vw;

    }
}

@media screen and (min-width: 641px) {
    .p-video-landing-video {
        object-fit: contain;
        position: absolute;
        left: 14vw;
        top: 2vw;
        width: 55vw;

    }
}

@media screen and (max-width: 640px) {
    .p-video-art-video {
        object-fit: contain;
        width: 46vw;
        position: absolute;
        left: 170vw;
        /* display: none; */
        top: -6vw;
    }
}

@media screen and (min-width: 641px) {
    .p-video-art-video {
        object-fit: contain;
        width: 40vw;
        position: absolute;
        left: 156.5vw;
        /* display: none; */
        top: 4vw;
    }
}

@media screen and (max-width: 640px) {
    .sp-info {
        height: 84vw;
        top: 435vw;
    }
}

@media screen and (min-width: 641px) {
    .sp-info {
        height: 49vw;
        top: 324vw;

    }
}

.sp-info {

    background-color: #FFD600;
    box-shadow: 0px 30px 50px #18a6ffb2;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

    transform: rotate(12deg) translateX(150vw);

    position: absolute;
    z-index: 4;

    width: 150vw;

    left: -20vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;


}

.sp-img img {
    position: absolute;
    z-index: 5;
}

@media screen and (max-width: 640px) {
    .sp-img {
        width: 55vw !important;
        min-width: 55vw;
    }

    .sp-text {
        width: 50vw !important;
        min-width: 50vw !important;
    }
}

@media screen and (min-width: 641px) {
    .sp-img {
        width: 73vw !important;
        min-width: 73vw;
    }

    .sp-text {
        width: 33vw !important;
        min-width: 33vw !important;
    }

}

.sp-text h1 {
    align-self: center;
}

@media screen and (max-width: 640px) {
    .sp-img-1 {
        top: 3vw;
        height: 25.5vw;
        left: 8vw;
    }

    .sp-img-2 {
        top: 33vw;
        left: -4vw;
        height: 26vw;
    }

    .sp-img-3 {
        top: 63vw;
        left: 15vw;
        height: 30vw;
    }
}

@media screen and (min-width: 641px) {
    .sp-img-1 {
        top: 3vw;
        height: 23.5vw;
        left: 20vw;
    }

    .sp-img-2 {
        top: 29.5vw;
        left: -4vw;
        height: 23.5vw;
    }

    .sp-img-3 {
        top: 29.5vw;
        left: 41vw;
        height: 23.5vw;
    }
}

@media screen and (max-width: 360px) {
    .sp-video-demos p {
        font-size: 9px;
    }
}

@media screen and (min-width: 361px) and (max-width: 470px) {
    .sp-video-demos p {
        font-size: 12px;
    }
}

@media screen and (min-width: 471px) and (max-width: 640px) {
    .sp-video-demos p {
        font-size: 15px;
    }
}

@media screen and (min-width: 641px) {
    .sp-video-demos p {
        font-size: 1.8vw;
    }
}

.sp-video-demos p {
    font-family: 'Varela Round', sans-serif;
    margin: 0px;
    line-height: 1.3;
    text-align: left;
}

@media screen and (max-width: 640px) {
    .sp-video-demos-text {
        position: absolute;
        top: 29vw;
        left: 18vw;
        width: 49vw;
        min-width: 40vw;
    }
}

@media screen and (min-width: 641px) {
    .sp-video-demos-text {
        position: absolute;
        top: 12vw;
        left: 58vw;
        width: 34vw;
        min-width: 34vw;
    }
}


.sp-video-demos-img {
    position: relative;
    width: 65vw;
    min-width: 65vw;
}

@media screen and (max-width: 640px) {
    .sp-landing-demo {
        object-fit: contain;
        position: absolute;
        left: 68vw;
        top: 42vw;
        z-index: 5;
        width: 58vw;
    }

    .sp-gallery-demo {
        object-fit: contain;
        position: absolute;
        left: 7vw;
        top: -13vw;
        width: 67vw;
        z-index: 1;
    }

    .sp-feedback {
        object-fit: contain;
        position: absolute;
        width: 36vw;
        left: 68vw;
        top: -2vw;
        z-index: 2;
    }
}

@media screen and (min-width: 641px) {
    .sp-landing-demo {
        object-fit: contain;
        position: absolute;
        left: 57vw;
        top: 31vw;
        z-index: 3;
        width: 44vw;
    }

    .sp-gallery-demo {
        object-fit: contain;
        position: absolute;
        left: -5vw;
        top: 3vw;
        width: 57vw;
    }

    .sp-feedback {
        object-fit: contain;
        position: absolute;
        width: 30vw;
        left: 14vw;
        top: 31vw;
    }
}


@media screen and (max-width: 640px) {
    .bottom-scene {
        top: 525vw;
    }
}

@media screen and (min-width: 641px) {
    .bottom-scene {
        top: 382vw;
    }
}

.bottom-scene {
    position: absolute;
    z-index: 12;
    width: 100vw;
    height: 60.5vw;
}

.bottom-scene img {
    position: absolute;
}

.cloud-1 {
    transform: translateY(10px);

    z-index: 13;
    top: -41.2vh;
    left: -5vw;
}

.cloud-1 {
    z-index: 13;
    top: -22vw;
    left: -15vw;
    height: 22vw;
    animation: cloud-hover-x-15 1s alternate infinite;
}

.cloud-2 {
    z-index: 13;
    top: 5.5vw;
    height: 19.5vw;
    left: 59vw;
    animation: cloud-hover 1s alternate infinite;
}

.cloud-3 {
    z-index: 13;
    top: 28.5vw;
    height: 21.7vw;
    left: -12vw;
    animation: cloud-hover 1s alternate infinite;


}

@keyframes cloud-hover {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes cloud-hover-x-2 {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-20px);
    }
}

@keyframes cloud-hover-x-15 {
    0% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0px);
    }
}

.moon {
    z-index: 13;
    top: -4.5vw;
    left: 3.5vw;
    height: 20vw;
}

.tree {
    z-index: 13;
    top: 20.4vw;
    left: 54vw;
    height: 40.4vw;
    object-fit: cover;
}

.mountain {
    z-index: 12;
    top: 22.5vw;
    left: 62vw;
    height: 38.25vw;
}

.contact-form-block {

    background-color: #4CD8E1;
    border-radius: 50px;
    position: absolute;
    top: 2.5vw;
    left: 8.3vw;
    height: 37vw;
    width: 56.5vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.contact-form-header {
    margin-left: 2.5vw;
    width: 35%;
}

@media screen and (max-width: 640px) {
    .contact-form-header h1 {
        font-size: 15px;

    }
}

@media screen and (min-width: 641px) {
    .contact-form-header h1 {
        font-size: 3.2vw;

    }
}

.contact-form-header h1 {
    font-family: 'Quicksand', sans-serif;

    text-align: center;
}

@media screen and (max-width: 640px) {
    .contact-form-body {
        margin-left: 2vw;
    }
}

@media screen and (min-width: 641px) {
    .contact-form-body {
        margin-left: 1vw;
    }
}

.contact-form-body {
    width: 50%;
    height: 90%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.contact-form-body-text {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contact-form-body-text a {
    text-decoration: underline;
    color: white;
}

@media screen and (max-width: 300px) {
    .contact-form-body-text p {
        font-size: 7px;

    }
}

@media screen and (min-width: 301px) and (max-width: 350px) {
    .contact-form-body-text p {
        font-size: 8px;

    }
}

@media screen and (min-width: 351px) and (max-width: 470px) {
    .contact-form-body-text p {
        font-size: 10px;

    }
}

@media screen and (min-width: 471px) and (max-width: 640px) {
    .contact-form-body-text p {
        font-size: 15px;
    }
}

@media screen and (min-width: 641px) {
    .contact-form-body-text p {
        font-size: 1.85vw;

    }
}

.contact-form-body-text p {
    font-family: 'Varela Round', sans-serif;
    line-height: 1.2;
    overflow-wrap: break-word;



    line-height: 1.3;
    margin: 0px;
}


.contact-form-body-button {
    background-color: #3dc0de;
    border-radius: 50px;
    margin-top: 0px;
    border-bottom: 0.5vw solid #2ca5c7;
    background-size: contain;
    background-repeat: no-repeat;
    width: 14vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0px 10px 10px #2ca5c734; */
    /* 
    transition: 0.4s; */
}

@media screen and (max-width: 640px) {
    .contact-form-body-button-holder {
        width: 14vw;
        height: 6vw;
        margin-top: 0.5vw;
        margin-left: 4vw;
        margin-bottom: 4vw;
        align-self: flex-start;
    }
}

@media screen and (min-width: 641px) {
    .contact-form-body-button-holder {
        width: 14vw;
        height: 6vw;
        margin-top: 3vw;
        margin-left: 4vw;
        margin-bottom: 4vw;
        align-self: flex-start;
    }
}


a:hover .contact-form-body-button {

    margin-top: 0.5vw;
    /* transition: 0.8s; */
    border-bottom: 0px transparent;
}

a {
    text-decoration: none;
    position: absolute;
    z-index: 20;
}

.contact-form-body-button h1 {
    color: white;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.85vw;

    text-align: center;

}